*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: url(imagens/Design\ sem\ nome\ \(4\).png);
    background-size: cover;
    background-repeat: no-repeat;

}

.caixa{
    display: flex;
    gap: 40px;
    justify-content: center;
    margin: 50px;
}

.item{
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.3s ease-in;

}
.item:hover{
    font-size: 25px;
    transition: 0.3s ease-in;
     text-decoration: underline;
}

.services {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 80px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

.service-card {
    width: 320px;
    background: #111; 
    border: 1px solid #1c1c1c;
    padding: 60px;
    border-radius: 6px;
    color: #bbb;
    transition: 0.3s ease;
}

.service-card:hover {
    border-color: white;
    transform: translateY(-4px);
}

.number {
    font-size: 15px;
    color: #555;
    letter-spacing: 2px;
}

.service-card h3 {
    font-size: 22px;
    color: #fff;
    margin: 10px 0;
}

.service-card p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 25px;
    color: #999;
}

.btn-card {
    font-size: 14px;
    color: #999;
    text-decoration: none;
    border-top: 1px solid #222;
    padding-top: 12px;
    display: inline-block;
    transition: 0.3s;
}

.btn-card:hover {
    color: #fff;
}

.img1{
    width: 200px;
}

.text{
    color: white;
    margin-left: 760px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.img2{
    width: 200px;
    margin-left: 860px;

}

