@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comic+Relief:wght@400;700&family=Fuzzy+Bubbles:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: url(imagens/Design\ sem\ nome\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
}

.caixa{
    display: flex;
    gap: 40px;
    justify-content: center;
    margin: 50px;
}

.item{
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.3s ease-in;

}
.item:hover{
    font-size: 25px;
    transition: 0.3s ease-in;
     text-decoration: underline;
}
.container01{
    display: flex;
    justify-content: center;
    margin-top: 450px;

   
}

.hero {
   margin-top: 450px;
    background: url("imagens/sua-imagem.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    padding-left: 80px;
    color: #fff;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 450px;
}

.hero-content h2 {
    font-size: 55px;
    font-weight: 300;
    letter-spacing: 2px;
}

.hero-content h1 {
    font-size: 95px;
    font-weight: 800;
    margin-top: -10px;
}

.hero-content p {
    font-size: 38px;
    letter-spacing: 3px;
    margin-top: 10px;
    opacity: .8;
}

.buttons {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.btn {
    padding: 20px 38px;
    border: 2px solid #fff;
    border-radius: 30px;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
    font-size: 17px;
}

.btn:hover {
    background: #9D00FF;
    color: #FFFFFF;

}


