@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comic+Relief:wght@400;700&family=Fuzzy+Bubbles:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: url(imagens/Design\ sem\ nome\ \(4\).png);
    background-size: cover;
    background-repeat: no-repeat;
}

.caixa{
    display: flex;
    gap: 40px;
    justify-content: center;
    margin: 50px;
}

.item{
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.3s ease-in;

}
.item:hover{
    font-size: 25px;
    transition: 0.3s ease-in;
     text-decoration: underline;
}
.container01{
    display: flex;
    justify-content: center;
    margin-top: 450px;

   
}
.img{
    width: 300px;
    margin-left: 810px;
    border-radius: 50px;
     border: 2px solid #9D00FF;
}

.text{
  margin-left: 870px;
  margin-top: 40px;
  color: white;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.services {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 80px 0;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font: 30px;

}

.service-card {
    width: 320px;
    background: #111; 
    border: 1px solid #9D00FF;
    padding: 75px;
    border-radius: 6px;
    color: #9D00FF;
    transition: 0.3s ease;
}

.service-card:hover {
    border-color: #9D00FF;
    transform: translateY(-4px);
}

.number {
    font-size: 15px;
    color: #9D00FF;
    letter-spacing: 2px;
}

.service-card h3 {
    font-size: 30px;
    color: #9D00FF;
    margin: 10px 0;
}

.service-card p {
    font-size: 27px;
    line-height: 1.6;
    margin-bottom: 25px;
    color: #9D00FF;
}

.btn-card {
    font-size: 20px;
    color: #9D00FF;
    text-decoration: none;
    border-top: 1px solid #9D00FF;
    padding-top: 12px;
    display: inline-block;
    transition: 0.3s;
}

.btn-card:hover {
    color: #9D00FF;

}







