@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comic+Relief:wght@400;700&family=Fuzzy+Bubbles:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: url(imagens/Design\ sem\ nome\ \(4\).png);
    background-size: cover;
    background-repeat: no-repeat;
}

.caixa{
    display: flex;
    gap: 40px;
    justify-content: center;
    margin: 50px;
}

.item{
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.3s ease-in;

}
.item:hover{
    font-size: 25px;
    transition: 0.3s ease-in;
     text-decoration: underline;
    color: #9D00FF;
}
.container01{
    display: flex;
    justify-content: center;
    margin-top: 450px;

   
}
.carousel-container {
    width: 90%;              
    height: 420px;           
    max-width: 1200px;       
    margin: 40px auto;
    position: relative;
    overflow: hidden;
    border-radius: 18px;
    box-shadow: 0 0 25px rgba(0,0,0,0.45);
    background: #000;
}


.fade-slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 1.6s ease-in-out; 
}

.fade-slide.active {
    opacity: 1;
}


.fade-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.h1{
    color: white;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 860px;
    font-size: 40px;
}

.services {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 80px 0;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.service-card {
   width: 320px;
    background: #111; 
    border: 1px solid #FFFFFF;
    padding: 55px;
    border-radius: 6px;
    color: #FFFFFF;
    transition: 0.3s ease;
    
}

.service-card:hover {
     border-color: #9D00FF;
    transform: translateY(-4px);
}

.number {
    font-size: 15px;
    color: #9D00FF;
    letter-spacing: 2px;
}

.service-card h3 {
    font-size: 22px;
    color: #fff;
    margin: 10px 0;
}

.service-card p {
      font-size: 21px;
    line-height: 1.6;
    margin-bottom: 25px;
    color: #FFFFFF;
}

.btn-card {
    font-size: 14px;
    color: #999;
    text-decoration: none;
    border-top: 1px solid #222;
    padding-top: 12px;
    display: inline-block;
    transition: 0.3s;
}

.btn-card:hover {
    color: #fff;
}

.img1{
    width: 250px;
   margin-left: 850px;
   padding: 10px;

}










